/**
 * Progressively enhanced, fully responsive grid layout
 * without any media queries using CSS Grid
 * @param: $min-size - minimum width of a grid item. Default: 16rem
 * @param: $gap      - gap between grid items. Default: 1rem
 * Demo: https://codepen.io/scriptex/pen/vwNOXK
 */
@mixin auto-grid($min-size: 16rem, $gap: 1rem) {
	> * {
		max-width: $min-size;
	}

	> * + * {
		margin-top: $gap;
	}

	@supports (display: grid) {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax($min-size, 1fr));
		grid-gap: $gap;

		> * {
			max-width: unset;
		}

		> * + * {
			margin-top: unset;
		}
	}
}
