/**
 * Create a single background image using CSS gradients
 * without blur between color stops.
 * This can be achieved with a single linear-gradient,
 * but only Firefox will render it properly.
 * All other browsers will blur the edges of the stops.
 *
 * @param $colors - Map of colors
 * @param $stops - Map of color stops
 * @param $direction - One of 'horizontal' or 'vertical'
 *
 * @return - Multiple background declaration consisting of
 * many linear gradients
 *
 * It's !important that the keys of both maps are the same.
 *
 * Demo: https://codepen.io/scriptex/pen/pQPKXJ
 */
@mixin rainbow($colors, $stops, $direction: 'horizontal') {
	$dir: to right;
	$background: ();

	@if $direction == 'vertical' {
		$dir: to bottom;
	}

	@each $name, $color in $colors {
		$slash: unquote('/');
		$offset: map-get($stops, $name);
		$gradient: linear-gradient($dir, $color 0%, $color 100%);
		$size: $offset 100%;

		@if $direction == 'vertical' {
			$size: 100% $offset;
		}

		// prettier-ignore
		$background: append($background, $gradient no-repeat 0% 0% $slash $size, comma);
	}

	background: unquote($background);
}
