/**
 * Keep a line of text on a single line and add ellipsis if the text overflows.
 * @param: $overflow-style - CSS text overflow
 */
@mixin text-truncate($overflow-style: ellipsis) {
	white-space: nowrap;
	text-overflow: $overflow-style;
	overflow: hidden;
}
