/**
 * Prevent text from flowing out of its container
 * @param: $hyphens - CSS hyphens. Default: "auto"
 */
@mixin unbreak($hyphens: auto) {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: $hyphens;
}
