/// Specifies aspect ratio for an element
/// @access public
/// @author Atanas Atanasov <scriptex.bg@gmail.com>
/// @example @include aspect-ratio(rect);
/// @example @include aspect-ratio(square);
/// @link https://codepen.io/scriptex/pen/EzVaZL
/// @group helpers
/// @param {rect | square} $shape [rect] - The shape of the aspect ratio.
@mixin aspect-ratio($shape: rect) {
	display: block;
	position: relative;
	padding-top: 56.25%;

	@if $shape == square {
		padding-top: 100%;
	}

	> * {
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		max-width: none;
		max-height: none;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
