/// Create a scrolling shadow as explained in http://lea.verou.me/2012/04/background-attachment-local/
/// @access public
/// @author Atanas Atanasov <scriptex.bg@gmail.com>
/// @example @include scroll-shadow(#000, #fff, 4);
/// @link https://codepen.io/scriptex/pen/dyyWPLe
/// @group helpers
/// @param {string} $background [#fff] - HEX background color.
/// @param {string} $color [#000] - HEX color.
/// @param {number} $size [5] - Size of the shadow.
@mixin scroll-shadow($background: #fff, $color: #000, $size: 5) {
	$bgSize: $size + 0px;
	$bgSizeDouble: $size * 2 + 0px;

	background: linear-gradient($background 30%, rgba($background, 0)),
		linear-gradient(rgba($background, 0), $background 70%) 0 100%,
		radial-gradient(farthest-side at 50% 0, rgba($color, 0.5), rgba($color, 0)),
		radial-gradient(farthest-side at 50% 100%, rgba($color, 0.5), rgba($color, 0)) 0 100%;
	background-color: $background;
	background-repeat: no-repeat;
	background-attachment: local, local, scroll, scroll;
	background-size: 100% $bgSizeDouble, 100% $bgSizeDouble, 100% $bgSize, 100% $bgSize;
}
