/// A triangle with (or without) rounded corners
/// @access public
/// @author Atanas Atanasov <scriptex.bg@gmail.com>
/// @example @include font-size(20);
/// @example @include font-size(20, 12);
/// @link https://codepen.io/scriptex/pen/xQgZBg
/// @group helpers
/// @param {number} $size [2rem] - Width and height of the triangle.
/// @param {string} $background [red] - Background of the triangle.
/// @param {boolean} $radius [true] - Enable/disable border radius.
@mixin triangle($size: 2rem, $background: red, $radius: true) {
	&,
	&::before,
	&::after {
		width: $size;
		height: $size;
	}

	position: relative;
	overflow: hidden;
	transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
	pointer-events: none;

	&::before,
	&::after {
		content: '';
		position: absolute;
		background: $background;
		pointer-events: auto;
	}

	&::before {
		// prettier-ignore
		transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
	}

	&::after {
		// prettier-ignore
		transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
	}

	@if ($radius) {
		border-radius: 20%;

		&::before {
			border-radius: 20% 20% 20% 55%;
		}

		&::after {
			border-radius: 20% 20% 55% 20%;
		}
	}
}
