$breakpoints: (
	'phone': 320px,
	'phone-wide': 480px,
	'phablet': 560px,
	'tablet-small': 640px,
	'tablet': 768px,
	'tablet-wide': 1024px,
	'desktop': 1280px,
	'desktop-wide': 1440px
);

/**
 * Get a media query for a given breakpoint.
 * @param: $breakpoint  - one of the breakpoints specified in the last argument
 * @param: $type        - "min" or "max". "min" makes it mobile-first, "max" makes it desktop-first. Default: "min"
 * @param: $breakpoints - map of breakpoints. Defaults to the map above.
 */
@mixin mq($breakpoint, $type: min, $breakpoints: $breakpoints) {
	@if map_has_key($breakpoints, $breakpoint) {
		$breakpoint: map_get($breakpoints, $breakpoint);

		@if $type == max {
			$breakpoint: $breakpoint - 1px;
		}

		@media only screen and (#{$type}-width: $breakpoint) {
			@content;
		}
	}
}
